{% extends "base.html.twig" %}

{% block title 'Editer le bien' %}

{% block body %}

     <div class="container mt-4">
        <h1>Editer le bien</h1>
        {{ include('admin/property/_form.html.twig', {button: 'Editer'}) }}
     
     </div>
       
{% endblock %}