{%  extends "base.html.twig" %}

{% block title 'Gérer les biens' %}
    
{% block body %}
    
    <div class="container mt-4">
        <h1>Gérer les biens</h1>
        
        {% for Message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {%  for property in properties %}
                <tr>
                    <td>{{ property.title }}</td>
                    <td>
                        <a href="{{ path('admin.property.edit', {id: property.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.property.delete', {id: property.id}) }}
                              " style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sur ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}"> <!--this line helps prevent hackers from being able to inject code and hacking the site-->
                            <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
                {%  endfor %}
            </tbody>
        </table>
            
            <div class="text-right">
                <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
            </div>
    </div>
    
{% endblock %}

