{% extends "base.html.twig" %}

{% block title 'Créer un nouveau bien' %}

{% block body %}

     <div class="container mt-4">
        <h1>Créerun nouveau bien</h1>
        {{ include('admin/property/_form.html.twig', {button: 'Créer'}) }}
     
     </div>
       
{% endblock %}

